# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Raw data
rawData/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
.env

#data
previous_data/*
recent_data/*
!previous_data/ubon_2_constituency_2566.csv
!previous_data/ubon_2_partylist_2566.csv
!recent_data/constituency_wide.csv
!recent_data/party_list_wide.csv
!recent_data/thai_subdistrict_coords.csv
!recent_data/ubon_tambon_boundaries.geojson

# Generated analysis outputs
analysis_outputs/

requirements.txt