# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Raw data
rawData/

# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
.env

#data
previous_data/
recent_data/